.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1160px;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.style {
  text-decoration: none;
  display: block;
  color: inherit;
}

.picture {
  max-width: 100%;
  height: auto;
}

.link:hover,
.link:focus {
  opacity: 0.6;
}

.link:active {
  opacity: 0.3;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*Button*/

.button {
  position: relative;
  height: 40px;
  display: flex;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Gilroy", "Arial", sans-serif;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 16px;
  background: var(--special-yellow-dark);
  transition: .3s;
  z-index: 1;
}

.button:hover {
  background: var(--special-yellow-dark);
}

.button:active {
  color: rgba(0, 0, 0, 0.2);
}

.button__text {
  margin: 0 auto;
  align-self: center;
  box-sizing: border-box;
  z-index: 10;
}