.footer {
  padding-top: 65px;
  padding-bottom: 79px;
  color: #ffffff;
  background: #464646;
  font-family: "gilroyextrabold", "arial", sans-serif;
}

.top-section,
.middle-section,
.bottom-section {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin: 0;
  font-size: 48px;
  color: #ffc600;
}

.footer-rigth-block {
  button {
    a {
      color: #ffffff;
    }
  }
}

.footer-nav {
  a {
    color: #ffffff;
  }
}

.middle-section {
  margin-top: 40px;

  p {
    margin: 0;
  }
}

.bottom-section {
  margin-top: 70px;
}

.footer-line {
  width: 80px;
  height: 7px;
  margin-top: 14px;
  background: #ffc600;
}

.footer-social {
  width: 150px;
  display: flex;
  justify-content: space-between;
}