.footer {
  padding-top: 65px;
  padding-bottom: 79px;
  color: #ffffff;
  background: #464646;
  font-family: "gilroyextrabold", "arial", sans-serif;
}

.top-section,
.middle-section,
.bottom-section {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin: 0;
  font-size: 48px;
  color: #ffc600;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-rigth-block {
  .btn-block {
    a {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer-nav {
  li {
    align-self: center;
  }

  a {
    color: #ffffff;
  }
}

.middle-section {
  margin-top: 40px;

  p {
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    font-family: "opensanslight", "Arial", sans-serif;
  }

  .phone {
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 15px;
      line-height: 30px;
      font-family: "opensanslight", "Arial", sans-serif;
    }
  }
}

.bottom-section {
  margin-top: 70px;
}

.footer-line {
  width: 80px;
  height: 7px;
  align-self: center;
  background: #ffc600;
}

.footer-social {
  width: 150px;
  display: flex;
  justify-content: space-between;

  .social-button {
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}