.page-header {
  margin-top: 40px;
  padding-bottom: 50px;
  background: var(--special-yellow);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.page-header__logo {
  margin-top: -20px;
  color: var(--basic-black);
  grid-column: 1 /2;
}

.page-header__logo svg {
  width: 163px;
  height: 35px;
}

.page-header__top {
  margin-top: 10px;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 540px 280px auto 82px;
  align-items: center;
}

.top-menu__search {
  position: relative;
  width: 440px;
  height: 50px;
  display: flex;
}

.search__icon-lens {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 18px;
  background: var(--icon-lens) 0 0 no-repeat;
}

.search__text {
  width: 100%;
  padding: 13px 40px;
  border: none;
  border-bottom: 1px solid var(--special-yellow);
  background: var(--special-yellow);
  outline: none;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-bottom: 1px solid var(--basic-black);
  }

  &:active &::placeholder {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", "Arial", sans-serif;
  }

  &:hover::placeholder {
    color: rgba(0, 0, 0, 0.6)
  }

  &:focus::placeholder {
    color: var(--basic-black);
  }

  &:focus+.search__button,
  &:hover+.search__button {
    display: block;
  }
}

.search__button {
  padding: 13px 19px;
  background: transparent;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  border-bottom: 1px solid var(--basic-black);
  display: none;

  &:hover,
  &:focus {
    display: block;
    background: var(--basic-black);
    color: var(--basic-white);
  }

  &:active {
    color: rgba(255, 255, 255, .3);
  }
}



.button-link {
  display: flex;

  & span:first-child {
    align-self: center;
    margin-right: 12px;
  }
}


.icon-user {
  display: block;
  width: 13px;
  height: 14px;
  background: var(--icon-user) 0 0 no-repeat;
}

.icon-chart {
  display: block;
  width: 14px;
  height: 14px;
  background: var(--icon-chart) 0 0 no-repeat;
}

.icon-basket {
  display: block;
  width: 10px;
  height: 10px;
  background: var(--icon-basket) 0 0 no-repeat;
}

.page-header__nav-site {
  grid-column: 1 / 2;
}

.nav-site__item {
  &:first-child {
    position: relative;
  }

  &:first-child::before,
  &:first-child::after {
    position: absolute;
    content: "";
    display: block;
    top: 9px;
    left: 235px;
    width: 14px;
    height: 2px;
    background: var(--basic-black);
    opacity: .3;
  }

  &:first-child::after {
    transform: rotate(90deg);
  }
}

.nav-item__catalog-nav {
  position: absolute;
  width: 1160px;
  top: 20px;
  left: -60px;
  padding-top: 15px;
  padding-left: 60px;
  padding-bottom: 45px;
  background: var(--special-yellow);
  text-transform: none;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
  display: grid;
  column-gap: 61px;
  grid-template-columns: 179px 126px auto;
  grid-template-rows: 36px 36px 36px;
  grid-template-areas: "a d f""b e .""c . .";
  box-sizing: border-box;
  z-index: 10;
  display: none;
}

.nav-site__item li {
  &:nth-child(1) {
    grid-area: a;
  }

  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: c;
  }

  &:nth-child(4) {
    grid-area: d;
  }

  &:nth-child(5) {
    grid-area: e;
  }

  &:nth-child(6) {
    grid-area: f;
  }
}

.nav-item__button-catalog:hover+.nav-item__catalog-nav,
.nav-item__button-catalog:focus+.nav-item__catalog-nav {
  display: grid;
}

.nav-item__catalog-nav {

  &:hover,
  &:focus {
    display: grid;
  }
}

.page-header__nav-site {
  margin-top: 35px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 540px 160px auto 120px;
}