.close {
  width: 50px;
  height: 50px;
  border: 7.5px solid var(--special-yellow-dark);
  border-radius: 50%;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
  background-image: var(--button-close);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  outline: none;
}

.close:hover,
.close:focus {
  opacity: 1;
}

.close:active {
  opacity: 0.3;
}

.modal-map {
  width: 994px;
  height: 593px;
}