.modal-feedback {
  width: 960px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  background: var(--basic-white);
  font-family: "Gilroy", "Arial", sans-serif;
  box-sizing: border-box;
}

.feedback-item input,
.feedback-item textarea {
  background: var(--basic-light);
  border: 2px solid var(--basic-light);
  outline: none;
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

.feedback-item__field:focus {
  border: 2px solid #F7E296;
}

.feedback-item__field.error {
  background: #F6DADA;
}

.feedback-form__button {
  width: 200px;
}