.page-services {
  background: linear-gradient(180deg, var(--basic-white) 115px, var(--basic-grey-light) 115px);
}

.service span {
  display: block;
  width: 180px;
  height: 202px;
}

.service__img-delivery {
  background: var(--service-delivery)0 0 no-repeat;
}

.service__img-warranty {
  background: var(--service-warranty) 0 0 no-repeat;
}

.service__img-credit {
  background: var(--service-credit) 0 0 no-repeat;
}

.service__info h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
}

.service__info p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services-item__button {
  width: 160px;
}