.top-section {
  position: relative;
  height: 506px;
  background: linear-gradient(180deg, var(--special-yellow) 114px, var(--basic-white) 114px);
}

.top-section__slider {
  list-style-type: none;
  box-sizing: border-box;
  counter-reset: list1;
}

.slider-list__item {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 500px auto;
  column-gap: 40px;
  opacity: 0;
}

.show-slider {
  opacity: 1;
  transition: .3s;
}

.slider-item__img {
  margin-top: -15px;
  margin-left: 29px;
  grid-column: 1 / 2;
}

.slider-item__info {
  grid-column: 2 / -1;
}

.slider-list__item::after {
  position: absolute;
  top: -32px;
  right: -42px;
  counter-increment: list1;
  content: "0"counter(list1) "";
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--basic-white);
}

.block-info__line {
  width: 100px;
  height: 7px;
  margin-top: 18px;
  display: block;
  background: #ffffff;
}

.block-info__phrase {
  width: 431px;
  margin-top: 53px;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.block-info__text {
  letter-spacing: -0.02em;
}

.block-info__options {
  letter-spacing: 0.1em;
  font-family: "Gilroy", "Arial", sans-serif;
  border-spacing: 0 15px;
}

.block-info__options th {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  padding-right: 60px;
}

.block-info__options td {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  text-align: left;
}

.block-info__button {
  width: 220px;
  margin-top: 50px;
  margin-bottom: 35px;
}